.skills {
  animation-name: skills;
}
html {
  font-size: 100%;
  font-family: sans-serif;
}
body {
  background: #000;
}
html,
body,
main {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  background: #000;
}
section article.skills {
  width: 500px;
  height: auto;
}
section article.skills p {
    z-index: 2;
    color: #fff;
    padding: 12px 20px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 40px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 8px 6px -6px white;
}
section article.skills div span:nth-child(1) {
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  height: 100%;
  width: 100%;
}
section article.skills div span:nth-child(2) {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#cd255e;
  height: 100%;
}
section article.skills div:nth-child(1) span:nth-child(2) {
  width: 90%;
  animation-delay: 0;
}
section article.skills div:nth-child(2) span:nth-child(2) {
  width: 95%;
  animation-delay: 0.05s;
}
section article.skills div:nth-child(3) span:nth-child(2) {
  width: 80%;
  animation-delay: 0.1s;
}
section article.skills div:nth-child(4) span:nth-child(2) {
  width: 70%;
  animation-delay: 0.15s;
}
section article.skills div:nth-child(5) span:nth-child(2) {
  width: 75%;
  animation-delay: 0.2s;
}
section article.skills div:nth-child(6) span:nth-child(2) {
  width: 60%;
  animation-delay: 0.25s;
}
section article.skills div:nth-child(7) span:nth-child(2) {
  width: 70%;
  animation-delay: 0.3s;
}
section article.skills div:nth-child(8) span:nth-child(2) {
  width: 90%;
  animation-delay: 0.35s;
}
section article.skills div:nth-child(9) span:nth-child(2) {
  width: 70%;
  animation-delay: 0.35s;
}
section:before {
  position: absolute;
  top: -250px;
  left: -350px;
  width: 500px;
  height: 500px;
  content: "";
  background: #fff;
  transform: rotate(30deg);
}
section:after {
  position: absolute;
  bottom: -250px;
  right: -350px;
  width: 500px;
  height: 500px;
  content: "";
  background: #fff;
  transform: rotate(30deg);
}
.skills {
  animation: skills 1.25s cubic-bezier(0.17, 0.67, 0, 1);
}
@keyframes skills {
  0% {
    left: -500px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
